.box {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 100px;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}
