.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 10px solid white;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 360px;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: "Playwrite BE WAL";
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech {
  color: purple;
  font-family: "Playwrite BE WAL";
  font-weight: 400;
  margin-top: 5px;
}

.icon {
  fill: purple;
}

.btn {
  width: 100px;
  height: 40px;
  border: white;
  background-color: purple;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  font-family: "Playwrite BE WAL";
  margin-top: 40px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: white;
  color: purple;
}

img {
  width: 40px;
  height: 40px;
}

.title img {
  padding: 10px;
  height: 40px;
}

.winnerMessage {
  position: absolute;
  background-color: #daacd2;
  box-shadow: 5px 5px 5px purple;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 6px solid white;
  border-radius: 10px;
  padding: 5px;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    padding: 30px;
  }

  .title {
    font-size: 30px;
  }

  .btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .title img {
    padding: 20px;
    height: 50px;
  }

  .winnerMessage {
    font-size: 50px;
    box-shadow: 10px 10px 10px purple;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 10px solid white;
    border-radius: 10px;
    width: 500px;
    height: 600px;
  }

  .title {
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    font-family: "Playwrite BE WAL";
    font-weight: 400;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech {
    color: purple;
    font-family: "Playwrite BE WAL";
    font-weight: 400;
    margin-top: 0;
  }
  .icon {
    fill: purple;
  }

  .btn {
    width: 150px;
    height: 50px;
    border: white;
    background-color: purple;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-family: "Playwrite BE WAL";
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .btn:hover,
  .btn:focus {
    background-color: white;
    color: purple;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .title img {
    padding: 20px;
    height: 50px;
  }

  .winnerMessage {
    position: absolute;
    background-color: #daacd2;
    box-shadow: 10px 10px 10px purple;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 6px solid white;
    border-radius: 10px;
    padding: 5px;
  }
}
